/*
specs: default screen is mobile phone with minimum of 320 pixels. 
There is 1 @media for screensize desktop.
last update: 2 nov 2020 
Author: David Sneek
*/

/*goal: url click interactivity */
a:hover {
    color: red;
}
a:active {
    color: blue;
}


body { 
    background-color: #eee7e7;
    color: greyblack;
    /*note to self: following line is short-hand notation */
    font: normal 18px Ubuntu, Merriweather, Nunito;
    width: 302px;
    margin: 0 auto;
}

/* goal: titles above each page*/
h1 {
    letter-spacing: 3px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 100px; 
  }


  /*goal: default layout of text inside a border with a radius*/
.layoutTextWithBorderRadius {
    border: 4px solid rgb(219, 210, 210);
    padding: 10px 10px 10px 20px;
    margin: 20 px 0, auto, auto;
    border-radius: 15px;
}

.centerText {
    text-align: center;
}

.addShadow {
    box-shadow: 5px 5px 10px #999;
}



/*goal: set default picture dimensions. img.photo1 gets custom treatment in @media-section */
img.photo1 {
    width: 281px; 
    height:  auto;
    border: 5px solid grey;
	  background-color: yellow;
    padding: 5px;
}

/*goal: set default picture dimensions. img.photo2 gets custom treatment in @media-section */
img.photo2 {
  width: 281px; 
  height:  auto;
  border: 5px solid grey;
  background-color: yellow;
  padding: 5px;
}

/*border that looks like a serrated stamp: */
.post-stamp {
	height: 40px;
	background: whitesmoke;
    border: 6px dashed #1b1a19; 
    padding: 5px;
    margin-top: 250px;
}

.blue-background {
    background-color: lightblue;
}

.brown-background {
    background-color: burlywood;
}

.green-background {
    background-color: rgb(113, 185, 113);
}


    

/* goal: create a navbar on top of each page (until line  end(...)page below ) */
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 262px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  width: 200px;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav .active {
  background-color: #4CAF50;
}

/* subgoal: add a gray right border to all list items, 
except the last item (last-child) */
nav li {
    border-bottom: 1px solid #bbb;
}

nav li:last-child {
    border-bottom: none;
}
/* end of code specific for creating navbar on top of each page */

/*styling form 'contact': <start*/

/*field reistips*/
.textAreaLayout {
  width:200px; 
  height:250px;
  align-content: left;
  padding: 10px;
}

/*styling form 'contact': <start*/

/*field reistips*/
.textAreaLayout {
  width:234px; 
  height:300px;
  align-content: left;
  padding: 10px;
}


/*styling form 'contact': end>*/


@media screen and (min-width: 1024px) {    
  body {
      width: 847px;
      background-color: rgb(162, 184, 194) ;
      font-size: 15px;
      line-height: 1.5;
      color: rgb(18, 58, 43);
  }

  /* increase size of navigation bar */
  nav ul {
    width: 811px;
  }

  nav li a {
      padding: 14px 16px;
      width: 150px;
  }

  /* field reistips*/
  .textAreaLayout {
    width:755px; 
    height:250px;
    padding: 20px;
  }


  /* subgoal: add a gray right border to all list items, 
  except the last item (last-child) */
  nav li {
      border-bottom: none;
      border-right: 1px solid #bbb;
  }
  
  nav li:last-child {
      border-right: none;
  }

  /*border that looks like a serrated stamp: */
  .post-stamp {
  height: 40px;
  border: 12px dashed #1b1a19; 
  padding: 10px;
  margin-top: 150px;
  }


  /*goal: increase size of text and headers*/
  .layoutTextWithBorderRadius {
    border: 4px solid rgb(219, 210, 210);
    padding: 15px 15px 15px 30px;
    margin: 20 px 0, auto, auto;
    border-radius: 15px;
    width: 806px;
  }



  /*goal: decrease photo size, so they can be shown next to each other horizontally on desktop screen*/
  img.photo1 {
    width: 239px; 
    height:  152px;
    border: 15px solid grey;
    background-color: yellow;
    padding: 20pxx;
  }

  /*goal: increase photo size, so it is shown bigger on desktop screen*/
  img.photo2 {
    width: 813px; 
    height:  auto;
    border: 15px solid grey;
    background-color: yellow;
    padding: 20pxx;
  }


    div.inlineDisplay {
    display: inline-block;
  }   
}