@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

$background-footer: #686de0;
$background-color-tekst: #fff;
$min-width-page: 400px;
$max-width-page: 1200px;
$font-family: "Open Sans";

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  min-height: 860px;
  width: clamp($min-width-page, 70%, $max-width-page);
  margin-left: 8%;
  background: white;
  text-align: center;
  // border: 5px solid red; //duck tape
  position: relative;
  font-family: $font-family;
  border-radius: 40px;
  // box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
  box-shadow: -10px 12px 5px 0px rgba(12, 12, 12, 0.15),
    10px 13px 10px 0px rgba(7, 7, 7, 0.15);
}

.testimonial__tekst {
  height: 69%;
  width: 100%;
  padding: 15% 5%;
  font-size: clamp(1.7rem, 2.5vw, 3rem);
}
.testimonial__name {
  height: 22%;
  width: 100%;
  //fixate name below out-of-flow image
  padding-top: 120px;
  background: #686de0;
  margin-top: 5px;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  line-height: 60%;
}
.testimonial__url {
  //display url near the name in responsive mode
  align-self: flex-start;
  height: 9%;
  width: 100%;
  background: #686de0;
  font-size: clamp(2rem, 2.5vw, 3rem);
  color: white;
  border-radius: 0px 0px 40px 40px;
}

.testimonial__image {
  display: border-box;
  top: 68%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.testimonial__image-source {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background: white;
  padding: 4%;
}
