/*goal: url click interactivity */
a:hover {
    color: red;
}
a:active {
    color: blue;
}


body { 
    background-color: #eee7e7;
    color: greyblack;
    /*note to self: following line is short-hand notation */
    font: normal 14px Ubuntu, Merriweather, Nunito;
    width: 403px;
    margin: 0 auto;
}

/* goal: titles above each page*/
h1 {
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 100px;
  }

.box01 {
    border: 4px solid rgb(219, 210, 210);
    padding: 20px;
    margin: 20 px 0, auto, auto;
    border-radius: 15px;
    width: 403px;
}

.box02 {
    text-align: center;
}

.box03 {
    box-shadow: 5px 5px 10px #999;
}



/*goal: adjust width of all pictures to width that results 
from class .box01 */
.widthOfPicture {
    width: 450px;
}

/*border that looks like a stamp: */
.post-stamp {
	height: 30px;
	background: #fff url(george.jpg) no-repeat;
	border: 12px dashed #1b1a19; 
}

.blue-background {
    background-color: lightblue;
}

.brown-background {
    background-color: burlywood;
}

.green-background {
    background-color: rgb(113, 185, 113);
}



/*goal: border around each picture*/
img.photo {
	border: 15px solid grey;
	background-color: yellow;
    padding: 10px;}
    

/* goal: create a navbar on top of each page (until end tag) */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav .active {
  background-color: #4CAF50;
}

/* subgoal: add a gray right border to all list items, 
except the last item (last-child) */
nav li {
    border-right: 1px solid #bbb;
}
  
nav li:last-child {
    border-right: none;
}
  /* end of code specific for creating navbar on top of each page */